.exam-solution {
    padding-top: 125px;
    i {
        color: inherit !important;
    }
    .questions-nav {
        text-align: left;
        .questions-numbering {
            width: 140px;
            display: inline-block;
        }
        button{
            border-style: none;
            position: relative;
            top:3px;
            background: none;
            padding: 0 10px;
        }
    }
    .question {
        font-weight: bold;
    }
    .selection {
        padding: 0 5px;
        span {
            &.context {
                margin-right: 5px;
                position: relative;
                bottom: 1px;
            }
            &.numbering {
                position: relative;
                bottom: 2px;
            }
        }
    }
    .exam-unavialable {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i.main-icon {
            font-size: 200px;
            color: #dee2e6 !important;
        }
        a {
            text-decoration: none;
        }
    }
    .info {
        height: 200px;
        span {
            width: 40px;
            margin-left: 10px;
            margin-bottom: 10px;
            position: relative;
            top: 2px;
            border-radius: 0;
        }
    }
    form{
        padding-top:10px;
    }
    .form-select{
        border-radius: 0;
    }
}
