.sidebar {
    .dropdown{
        .btn{
            padding: 8px 30px;
            border-radius: 25px;
        }
    }
    padding-top: 3px;
    .navs {
        padding: 5px 0;
        li {
            padding: 8px;
            list-style: none;
            color: #444444;
            &:hover {
                cursor: pointer;
            }
            &.active {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                @media (min-width: 768px) {
                    background-color: #e3e3ed;
                }
                color: #4a4aff;
                i {
                    color: #4a4aff;
                }
            }
            i {
                position: relative;
                top: 2px;
                font-size: 18px;
                color: #444444;
                padding-left: 15px;
            }
        }
    }
}
