<ngx-spinner></ngx-spinner>
<div class="login-box border col-lg-4 col-md-6 m-auto mt-5">
    <div *ngIf="loginFailed" class="text-center text-danger pt-3" role="alert">
        خطا في معلومات التصديق
    </div>
    <!--Header-->
    <div class="header text-center mt-5">
        <h1>تسجيل دخول</h1>
        <div>المتابعة الى مجتمع الامتحانات</div>
    </div>
    <!--Form-->
    <form [formGroup]="form">
        <div class="mb-3">
            <label class="form-label">البريد الالكتروني</label>
            <input formControlName="email" [class.is-invalid]="email.invalid&&submitted" type="text"
                class="form-control form-control-lg">
            <div class="invalid-feedback">
                <ng-container *ngIf="email.hasError('required')">
                    ادخل البريد الالكتروني
                </ng-container>
                <ng-container *ngIf="email.hasError('email')">
                    ادخل بريد الكتروني صالح
                </ng-container>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">كلمة المرور</label>
            <input formControlName="password" [type]="passwordHidden?'password':'text'"
                [class.is-invalid]="password.invalid&&submitted" class="form-control form-control-lg">
            <div class="invalid-feedback">
                ادخل كلمة المرور
            </div>
            <a routerLink="/auth/forget-password">هل نسيت كلمة المرور؟</a>
        </div>
        <div class="form-check">
            <input (change)="passwordHidden=!passwordHidden" class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                اظهار كلمة المرور
            </label>
        </div>
    </form>
    <div class="footer row">
        <div class="col-6">
            <a routerLink="/auth/signup">انشاء حساب</a>
        </div>
        <div class="confirm col-6">
            <button (click)="login()" class="btn w-50 btn-primary">دخول</button>
        </div>
    </div>
</div>