.exam-creation {
    padding-top: 125px;
    @media (max-width:576px) {
        padding: 125px 30px 0 30px;
    }
    form {
        padding: 20px;
    }
    .form-control,.form-select {
        border-radius: 0;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            padding-left: 12px;
            button {
                padding: 0;
                border-style: none;
                background: none;
            }
        }
    }
    .buttons {
        text-align: left;
    }
    .form-check {
        margin-left: 10px;
        display: inline-block !important;
        input {
            border-radius: 0;
        }
    }
    .questions-navs {
        > i {
            padding-left: 5px;
        }
    }
    .settings,.questions{
        border-right: 1px solid #dee2e6!important;;
    }
    .title {
        border-style: none;
        padding: 0;
        background: none;
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 999;
        left:22px;
        background-color: #fff;
        i{
            font-size: 20px;
        }
    }
}
