<ngx-spinner></ngx-spinner>
<div class="login">
    <div class="login-box col-lg-7 col-md-9 m-auto">
        <div *ngIf="loginFailed" class="text-center text-danger pb-3" role="alert">
            خطا في معلومات التصديق
        </div>
        <div class="row">
            <!--main-->
            <div class="main col-lg-8">
                <!--Header-->
                <div class="header">
                    <h6>تسجيل الدخول</h6>
                </div>
                <!--Form-->
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label class="form-label">البريد الالكتروني</label>
                        <input formControlName="email" [class.is-invalid]="email.invalid&&submitted" type="text"
                            class="form-control" placeholder="ادخل البريد الالكتروني">
                        <div class="invalid-feedback">
                            <ng-container *ngIf="email.hasError('required')">
                                ادخل البريد الالكتروني
                            </ng-container>
                            <ng-container *ngIf="email.hasError('email')">
                                ادخل بريد الكتروني صالح
                            </ng-container>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">كلمة المرور</label>
                        <input formControlName="password" [type]="passwordHidden?'password':'text'"
                            [class.is-invalid]="password.invalid&&submitted" class="form-control"
                            placeholder="ادخل كلمة المرور الخاصة بك">
                        <div class="invalid-feedback">
                            ادخل كلمة المرور
                        </div>
                    </div>
                    <div class="form-check mb-4">
                        <input (change)="passwordHidden=!passwordHidden" class="form-check-input" type="checkbox"
                            value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            اظهار كلمة المرور
                        </label>
                    </div>
                </form>
                <button (click)="login()" class="btn btn-primary confirm">دخول</button>
            </div>
            <div class="col-lg-4 or-options">
                <ul>
                    <li>
                        <a class="btn btn-outline-primary" routerLink="/home">
                            <i class="fa-solid fa-home"></i>
                        </a>
                        الصفحة الرئيسية
                    </li>
                    <li>
                        <a class="btn btn-outline-success" routerLink="/signup">
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                        عضوية جديدة
                    </li>
                    <li>
                        <a class="btn btn-outline-warning" routerLink="/forget-password">
                            <i class="fa-solid fa-lock"></i>
                        </a>
                        تغير كلمة المرور
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>