<ngx-spinner></ngx-spinner>
<div class="forget-password pt-5">
    <div class="forget-password-box col-lg-7 col-md-9 m-auto">
        <div *ngIf="emailSent" class="text-center text-success pb-3" role="alert">
            تم ارسال البريد الالكتروني بنجاح
        </div>
        <div class="row">
            <!--main-->
            <div class="main col-lg-8">
                <!--Header-->
                <div class="header">
                    <h6>تغير كلمة السر</h6>
                </div>
                <!--Form-->
                <form [formGroup]="form">
                    <div class="mb-4">
                        <label class="form-label">البريد الالكتروني</label>
                        <input formControlName="email" [class.is-invalid]="(email.invalid||emailNotFound)&&submitted"
                            type="text" class="form-control" placeholder="ادخل البريد الالكتروني">
                        <div class="invalid-feedback">
                            <ng-container *ngIf="email.hasError('required')">
                                ادخل البريد الالكتروني
                            </ng-container>
                            <ng-container *ngIf="email.hasError('email')">
                                ادخل بريد الكتروني صالح
                            </ng-container>
                            <ng-container *ngIf="emailNotFound&&!(email.hasError('email')||email.hasError('required'))">
                                هذا البريد الالكتروني غير موجود
                            </ng-container>
                        </div>
                    </div>
                </form>
                <button (click)="forgetPassword()" class="btn confirm">تاكيد</button>
            </div>
            <div class="col-lg-4 or-options">
                <ul>
                    <li>
                        <a class="btn btn-outline-primary" routerLink="/home">
                            <i class="fa-solid fa-home"></i>
                        </a>
                        الصفحة الرئيسية
                    </li>
                    <li>
                        <a class="btn btn-outline-success" routerLink="/auth/signup">
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                        عضوية جديدة
                    </li>
                    <li>
                        <a class="btn btn-outline-warning" routerLink="/auth/login">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                        تسجيل الدخول
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>