.exam-solution-container {
    .hidden {
        display: none;
    }
    .fixed-section {
        position: fixed;
        background: white;
        width: 100%;
        z-index: 999;
    }
    .exam-title {
        padding: 15px 18px 0px 0;
        font-weight: bold;
    }
}
