.exam-administration-container {
    .fixed-section{
        position: fixed;
        background: white;
        width: 100%;
        z-index: 1000;
    }
    .hidden {
        display: none;
    }
}
