<ngx-spinner></ngx-spinner>
<div class="exam-administration-container">
    <div class="fixed-section border-bottom">
        <navbar currentPage="exam-admin"></navbar>
        <div [class.hidden]="!selectedExam||!selectedExam.title" class="text-secondary exam-title">
            {{selectedExam?.title}}
        </div>
        <actions (actions)="actions=$event" (onSelectAction)="onSelectAction($event)" [selectedItem]="selectedExam">
        </actions>
    </div>
    <exam-list [examCreationHidden]="examCreationHidden" [deleteActionClicked]="deleteActionClicked"
        (onExamDeleted)="deleteActionClicked=false" [newExam]="newExam" [exams]="exams"
        (onSelectExam)="onSelectExam($event)" [class.hidden]="!examCreationHidden">
    </exam-list>
    <exam-creation (onExamSaved)="selectedAction=''" [selectedAction]="selectedAction" [selectedExam]="selectedExam"
        [class.hidden]="examCreationHidden"></exam-creation>
</div>