.exam-administration-container {
    .fixed-section{
        position: fixed;
        width: 100%;
        top:90px;
        background: transparent;
    }
    .hidden {
        display: none;
    }
}
