.exams-list-container {
    padding-top: 125px;
    .header {
        font-size: 11px;
    }
    .item-wrapper {
        padding: 10px;
        .item {
            &:hover {
                cursor: pointer;
            }
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            border-radius: 5px;
            .large-icon {
                padding-bottom: 25px;
                text-align: center;
                margin-top: 44px;
                i {
                    font-size: 50px;
                }
            }
            .title {
                padding: 18px 15px;
                margin-top: 10px;
                span{
                    position: relative;
                    bottom: 3px;
                    &.file-text{
                        bottom: 2px;
                    }
                }
                i {
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            .type{
                font-size: 12px;
            }
        }
    }
    .selected {
        background-color: #e8e8ff;
        span{
            color: #0d6efd;
        }
    }
    .no-exams {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i {
            font-size: 200px;
            color: #dee2e6;
        }
    }
}
