<ngx-spinner></ngx-spinner>
<div class="reset-password">
    <div class="reset-password-box col-lg-7 col-md-9 m-auto">
        <div *ngIf="invalidToken" class="text-center text-danger pb-3" role="alert">
            رمز التاكيد غير صحيح
        </div>
        <div class="row">
            <!--main-->
            <div class="main col-lg-8">
                <!--Header-->
                <div class="header">
                    <h6>تغير كلمة السر</h6>
                </div>
                <!--Form-->
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label class="form-label">كلمة السر</label>
                        <input formControlName="password" [class.is-invalid]="(password.invalid)&&submitted"
                            [type]="passwordHidden?'password':'text'" class="form-control" placeholder="ادخل كلمة السر">
                        <div class="invalid-feedback">
                            <ng-container *ngIf="password.hasError('required')">
                                ادخل كلمة السر
                            </ng-container>
                            <ng-container *ngIf="password.hasError('pattern')">
                                كلمة السر ضعيفة
                            </ng-container>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">تاكيد كلمة السر</label>
                        <input formControlName="password_confirmation"
                            [class.is-invalid]="(password_confirmation.invalid||form.hasError('notMatch'))&&submitted"
                            [type]="passwordHidden?'password':'text'" class="form-control" placeholder="ادخل كلمة السر مرة اخرى">
                        <div class="invalid-feedback">
                            <ng-container *ngIf="password_confirmation.hasError('required')">
                                ادخل كلمة السر مرة اخرة
                            </ng-container>
                            <ng-container
                                *ngIf="form.hasError('notMatch')&&!password_confirmation.hasError('required')">
                                كلمة السر غير متطابقة
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-check mb-4">
                        <input (change)="passwordHidden=!passwordHidden" class="form-check-input" type="checkbox"
                            value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            اظهار كلمة المرور
                        </label>
                    </div>
                </form>
                <button (click)="resetPassword()" class="btn confirm">تاكيد</button>
            </div>
            <div class="col-lg-4 or-options">
                <ul>
                    <li>
                        <a class="btn btn-outline-primary" routerLink="/home">
                            <i class="fa-solid fa-home"></i>
                        </a>
                        الصفحة الرئيسية
                    </li>
                    <li>
                        <a class="btn btn-outline-success" routerLink="/signup">
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                        عضوية جديدة
                    </li>
                    <li>
                        <a class="btn btn-outline-warning" routerLink="/login">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                        تسجيل الدخول
                    </li>
                    <li>
                        <a class="btn btn-outline-danger" routerLink="/forget-password">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        اعادة ارسال بريد الكتروني
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>