.navbar {
    overflow: visible;
    .hidden {
        visibility: hidden;
    }
    .navbar-nav{
        .nav-link{
            margin-left: 20px;
        }
        i{
            font-size: 16px;
            color: inherit;
            margin-left: 10px;
            position: relative;
            top: 2px;
        }
    }
    .navbar-brand {
        .user {
            position: relative;
            display: inline-block;
            top:3px;
            padding-left: 20px;
            .avatar {
                width: 45px;
                height: 45px;
                background-repeat: none;
                background-size: cover;
            }
            .menu {
                padding-bottom: 20px;
                position: absolute;
                top: 32px;
                right: 30px;
                width: 300px;
                overflow: visible;
                z-index: 999;
                background-color: white;
                border-radius: 10px;
                .header {
                    .delete {
                        display: inline-block;
                        color: #ad2d2d;
                        text-decoration: none;
                    }
                    .email {
                        color: #5f6368;
                    }
                    .delete:hover {
                        cursor: pointer;
                    }
                }
                .edit-image {
                    width: 80px;
                    height: 80px;
                    position: relative;
                    display: inline-block;
                    input[type="file"] {
                        display: none;
                    }
                    .icon {
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        background-color: white;
                    }
                    .icon {
                        top: 54px;
                        left: -4px;
                    }
                    .icon:hover {
                        cursor: pointer;
                    }
                }
                .logout {
                    background: none;
                    padding: 7px;
                    border: 1px solid #bebebf;
                    border-radius: 5px;
                }
            }
        }
    }
    .navbar-collapse {
        text-align: right;
    }
}
