.signup-box {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    //For small devices
    @media (max-width: 767px) {
        border: none !important;
    }
    padding: 36px;
    .header {
        margin-bottom: 22px;
    }
    .password-hint {
        font-size: 14px;
        color: #5f6368;
    }
    .footer {
        a {
            display: inline-block;
            margin-top: 3px;
            text-decoration: none;
        }
        .confirm {
            text-align: left;
        }
    }
    .image {
        position: relative;
        top:60px;
        img {
            width: 70%;
            margin-left: 55px;
        }
    }
}
