<ngx-spinner></ngx-spinner>
<div class="reset-password-box border col-lg-4 col-md-6 m-auto mt-5">
    <div *ngIf="invalidToken" class="text-center text-danger pt-3" role="alert">
        رمز التاكيد غير صحيح
    </div>
    <!--Header-->
    <div class="header text-center mt-5">
        <h1>تغير كلمة السر</h1>
    </div>
    <!--Form-->
    <form [formGroup]="form">
        <div class="mb-3">
            <label class="form-label">كلمة السر</label>
            <input formControlName="password" [class.is-invalid]="(password.invalid)&&submitted"
                [type]="passwordHidden?'password':'text'" class="form-control form-control-lg">
            <div class="invalid-feedback">
                <ng-container *ngIf="password.hasError('required')">
                    ادخل كلمة السر
                </ng-container>
                <ng-container *ngIf="password.hasError('pattern')">
                    كلمة السر ضعيفة
                </ng-container>
            </div>
            <a routerLink="/auth/forget-password">اعادة ارسال بريد الكتروني</a>
        </div>
        <div class="mb-3">
            <label class="form-label">تاكيد كلمة السر</label>
            <input formControlName="password_confirmation"
                [class.is-invalid]="(password_confirmation.invalid||form.hasError('notMatch'))&&submitted"
                [type]="passwordHidden?'password':'text'" class="form-control form-control-lg">
            <div class="invalid-feedback">
                <ng-container *ngIf="password_confirmation.hasError('required')">
                    ادخل كلمة السر مرة اخرة
                </ng-container>
                <ng-container *ngIf="form.hasError('notMatch')&&!password_confirmation.hasError('required')">
                    كلمة السر غير متطابقة
                </ng-container>
            </div>
        </div>
        <div class="form-check">
            <input (change)="passwordHidden=!passwordHidden" class="form-check-input" type="checkbox" value=""
                id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                اظهار كلمة المرور
            </label>
        </div>
    </form>
    <div class="footer row">
        <div class="col-6">
            <a routerLink="/auth/login">تسجيل الدخول بدلا من ذلك</a>
        </div>
        <div class="confirm col-6">
            <button (click)="resetPassword()" class="btn w-50 btn-primary">تاكيد</button>
        </div>
    </div>
</div>