.reset-password-box {
    @media (max-width: 767px) {
        border: none !important;
    }
    form {
        padding: 40px;
    }
    a {
        display: inline-block;
        margin-top: 3px;
        text-decoration: none;
    }
    .footer {
        padding: 0 40px 40px 40px;
        .confirm {
            text-align: left;
        }
    }
}
