<div class="home">
    <section class="show-case bg-dark text-light text-center text-sm-start">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h1 class="text-light">كن عضوا<span class="text-warning"> جديدا هنا</span></h1>
                    <p class="text-light my-4">
                        من خلال مجتمع الامتحانات يمكنك ادارة امتحاناتك واضافة الاسالة الجديدة بكل سهولة وبخبرة مستخدم
                        جيدة كما يمكنك ايضا حل
                        امتحانات من
                        خلال نفس المستخدم
                    </p>
                    <a routerLink="/signup" class="btn btn-primary mb-2">
                        تسجيل عضوية جديدة
                    </a>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="/assets/images/showcase.svg" alt="" />
            </div>
        </div>
    </section>
    <section class="services">
        <h1 class="text-center title mb-4">جميع الخدمات الحالية</h1>
        <div class="container">
            <div class="d-flex flex-wrap justify-content-center">
                <div class="service-card text-center shadow">
                    <i class="service-card-icon fas fa fa-file-circle-plus"></i>
                    <h6 class="service-card-title mb-2">اضافة امتحان</h6>
                    <p class="service-card-text">
                        يمكنك بكل سهولة اضافة اعدادات واسألة الامتحانات وسهولة تحكم في اضافة وحذف
                        الاسالة والاختيارات
                    </p>
                </div>
                <div class="service-card text-center shadow">
                    <i class="service-card-icon fas fa fa-folder-plus"></i>
                    <h6 class="service-card-title mb-2">اضافة ملفات</h6>
                    <p class="service-card-text">
                        يمكنك اضافة ملفات لتنظيم الامتحانات بطريقة ديناميكية بنفس الطريقة المتواجدة في انظمة التشغيل
                    </p>
                </div>
                <div class="service-card shadow text-center">
                    <i class="service-card-icon fas fa fa-edit"></i>
                    <h6 class="service-card-title mb-2">حل امتحانات</h6>
                    <p class="service-card-text">
                        حل الامتحانات بطريقة ذكية ومريحة بحيث يظهر سؤال واحد فقط ويتم تبديل الاسالة باستعمال
                        وحدة تنقل منظمة
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>